<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Información Dispositivo</title>
    <link href="/static/css/info.css" rel="stylesheet" />
  </head>
  <body>
    <script>
      function toggleFull(id) {
        const img = document.getElementById(`full${id}`);
        const body = document.body;
        if (img.hidden) {
          body.style = "overflow: hidden;";
          img.hidden = false;
        } else {
          body.style = "overflow: auto;";
          img.hidden = true;
        }
      }
    </script>
    <div class="main-container">
      <a href="/">Portada</a>
      <div id="info">
        <h2>Información del Contacto</h2>
        <table>
          <tr>
            <td>Nombre Donante:</td>
            <td>{{co.nombre}}:</td>
          </tr>
          <tr>
            <td>Email Donante:</td>
            <td>{{co.email}}:</td>
          </tr>
          <tr>
            <td>Número celular Donante:</td>
            <td>{{co.celular}}</td>
          </tr>
          <tr>
            <td>Comuna:</td>
            <td>{{co.comuna}}</td>
          </tr>
          <tr>
            <td>Región:</td>
            <td>{{co.region}}</td>
          </tr>
        </table>
        <h2>Información del Dispositivo</h2>
        <table>
          <tr>
            <td>Nombre Dispositivo:</td>
            <td>{{dis.nombre}}</td>
          </tr>
          <tr>
            <td>Descripción:</td>
            <td>{{dis.descripcion}}</td>
          </tr>
          <tr>
            <td>Tipo:</td>
            <td>{{dis.tipo}}</td>
          </tr>
          <tr>
            <td>Años de uso:</td>
            <td>{{dis.uso}}</td>
          </tr>
          <tr>
            <td>Estado Funcionamiento:</td>
            <td>{{dis.estado}}</td>
          </tr>
        </table>
      </div>
      {% for img in dis.fotos %}
      <img
        src="{{img.path_image}}"
        id="image-{{img.index}}"
        alt="Imagen de {{dis.nombre}}"
        onclick="toggleFull('image-{{img.index}}')"
      />{% endfor %}
      <h2>Comentarios</h2>
      <form>
        <div class="container">
          <h3>Agregar un comentario!</h3>
          <div id="val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
          </div>
          <label for="name">Nombre</label>
          <input
            type="text"
            name="name"
            id="name"
            value=""
            minlength="3"
            maxlength="80"
            required
          />
          <label for="text">Texto del Comentario</label>
          <textarea
            id="text"
            rows="4"
            cols="50"
            style="resize: none"
            minlength="5"
            required
          ></textarea>
          <button type="button" id="submit-conf-btn">Agregar Comentario</button>
        </div>
      </form>
      <div id="Comentarios">
        <div class="container">
          <p>Pedro<span>15/12/2023</span></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. In
            iaculis nunc sed augue lacus. Sed risus ultricies tristique nulla
            aliquet. Et ultrices neque ornare aenean euismod elementum nisi
            quis. Pretium quam vulputate dignissim suspendisse in est ante in.
          </p>
        </div>
        <div class="container">
          <div class="Info">
            <p>Juan <span>23/6/2022</span></p>
          </div>
          <div class="Comment">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. In
              iaculis nunc sed augue lacus. Sed risus ultricies tristique nulla
              aliquet. Et ultrices neque ornare aenean euismod elementum nisi
              quis. Pretium quam vulputate dignissim suspendisse in est ante in.
            </p>
          </div>
        </div>
        <div class="container">
          <div class="Info">
            <p>Diego<span>5/3/2019</span></p>
          </div>
          <div class="Comment">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. In
              iaculis nunc sed augue lacus. Sed risus ultricies tristique nulla
              aliquet. Et ultrices neque ornare aenean euismod elementum nisi
              quis. Pretium quam vulputate dignissim suspendisse in est ante in.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% for img in dis.fotos %}
    <div id="fullimage-{{img.index}}" class="full" hidden>
      <img
        src="{{img.path_image_full}}"
        alt="Imagen de {{dis.nombre}}"
        onclick="toggleFull('image-{{img.index}}')"
      />
    </div>
    {% endfor %}

    <script src="/static/js/comment.js"></script>
  </body>
</html>
